html {
  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    rgb(253, 72, 0) 0%,
    rgb(248, 232, 92) 100%
  );
}
.App input,
.App button {
  margin: 20px;
  padding: 10px 20px;
  border: 2px solid gray;
  background-color: rgb(128, 211, 139);
  transition: 0.3s;
  border-radius: 10px;
  font-size: 22px;
}

.App button {
  cursor: pointer;
}
.App button:hover {
  background-color: #000;
  color: white;
  border-color: black;
}
form {
  margin-left: 30vw;
  margin-right: 10vw;
}
.App input {
  width: 35%;
}
